#------------------------------------------------------------------------------
# Restricts the access to the .git directory
#------------------------------------------------------------------------------
RedirectMatch 404 ^/\.git

#------------------------------------------------------------------------------
# Blocks any hidden file (.env, .htaccess, etc.)
#------------------------------------------------------------------------------
<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>

#------------------------------------------------------------------------------
# Avoids listing directories
#------------------------------------------------------------------------------
Options -Indexes