body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(137, 168, 178);
}

h1 {
    text-align: center;
}

.bigbox {
    border: 2px solid rgb(212, 201, 190);
    background-color: rgb(241, 240, 232);
    border-radius: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.filters {
    border: 2px solid rgb(182, 170, 160);
    background-color: rgb(206, 205, 195);
    border-radius: 15px;
}

.stats {
    border: 2px solid rgb(97, 46, 44);
    background-color: rgb(128, 61, 59);
    border-radius: 15px;
    font-weight: bold;
    color: black;
}

.btns {
    display: flex;
    justify-content:flex-end;
    gap: 16px;;
}

.col-small {
    width: 10%;
}

.col-large {
    width: 90%;
}

.container .table-borderless {
    margin-bottom: 0px;
    background-color: rgb(206, 205, 195) !important;
}

.tab-content .container {
    padding: 0;
}